* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #121212;
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 80vw;
    margin: auto;
}

.controls {
    display: flex;
    background-color: #232323;
}

.container {
    padding: 20px;
    background-color: #232323;
    min-width: min-content;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#gamecontainer {
    position: relative;
;
}

.hexagon {
    position: absolute;
    width: 25px; 
    height: 14.43px;
    background-color: #0A5CE8;
    margin: 7.22px 0;
    text-align: center;
    font-size: 16px;
    line-height: 14.43px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
    cursor: default;
  }
  
  .hexagon .hexTop,
  .hexagon .hexBottom {
    content: "";
    position: absolute;
    width: 0;
    border-left: 12.5px solid transparent;
    border-right: 12.5px solid transparent;
  }
  
  .hexagon .hexTop {
    bottom: 100%;
    left: 0%;
    border-bottom: 7.22px solid #0A5CE8
  }
  
  .hexagon .hexBottom {
    top: 100%;
    left: 0%;
    width: 0;
    border-top: 7.22px solid #0A5CE8;
  }

  .flag {
      position: absolute;
      height: 15px;
      width: 2px;
      top: 0px;
      left: 11px;
      background-color: #fff952;
  }

  .flag::before {
      content: "";
      position: absolute;
      width: 0;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      border-left: 8px solid #fff952;
      top: 0%;
      left: 2px;
  }

  .flagcross {
      position: absolute;
      left: 11.5px;
      top: -2.79px;
      width: 2px;
      height: 20px;
      transform: rotate(45deg);
      background-color: red;
  }

  .flagcross::after {
      content: "";
      position: absolute;
      left: -0px;
      width: 2px;
      height: 20px;
      transform: rotate(90deg);
      background-color: red;
  }

  .controls, .score, header {
      color: ivory;
  }